// variable declaraion
$color-primary-main: #1976d2;
$color-primary-light: #42a5f5;
$color-primary-dark: #1565c0;

$color-secondary-main: #9c27b0;
$color-secondary-light: #ba68c8;
$color-secondary-dark: #7b1fa2;

$color-warning-main: #ed6c02;
$color-warning-light: #ff9800;
$color-warning-dark: #e65100;

$color-info-main: #0288d1;
$color-info-light: #03a9f4;
$color-info-dark: #01579b;

$color-success-main: #2e7d32;
$color-success-light: #4caf50;
$color-success-dark: #1b5e20;

$color-text1: #fff;
$color-text2: #000;

$border-radius: 0.6rem;
$box-shadow: 0 0 3rem rgba(0, 0, 0, 0.3);
$tranisition: all 0.4s ease-in-out;

$fontSize-heading1: 2.5rem;
$fontSize-heading2: 2rem;
$fontSize-heading3: 1.5rem;
$fontSize-heading4: 1.2rem;

$fontSize-paragraph: 1rem;
$fontSize-paragraph-md: 0.9rem;
$fontSize-paragraph-sm: 0.8rem;
